body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    height: 100vh;
}

.alert {
    background-color: #ff4545;
    margin: 50px;
}

form {
    background-color: #dbd5d5;
    width: 40%;
    /* height: 800px; */
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
}

input {
    margin: 5px;
    margin-bottom: 10px;
}

.log-in, .log-out, .register {
  background-color: #007BFF;
  border-radius: 4px;
  color: #f8f8f8;
  min-height: 50px;
  min-width: 100px;
  outline:0;
  cursor: pointer;
}

.log-in:hover, .log-out:hover, .register:hover {
  background-color: #007BFF;
}

/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
    background:none;
    color:inherit;
    border:none;
    padding:0;
    font: inherit;
    outline:0;
    border-bottom:1px solid #444; 
    cursor: pointer;
}

.createEvent {
    text-align: center;
    background-image: url('/images/fun-confetti-seamless-repeat-pattern-vector-20643114.jpg');
}

.editForm {
    text-align: center;
}
.appJS {
    background-image: url('/images/fun-confetti-seamless-repeat-pattern-vector-20643114.jpg');
    height: 100vh;
}


/* html {
    background-color: red;
} */
